/* Reset */

html, body, header, nav, h1, a,
ul, li, strong, main, button, i,
section, img, div, h2, p, form,
fieldset, label, input, textarea,
span, article, footer, time, small {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font: inherit;
  color: inherit;
  text-align: inherit;
  text-decoration: inherit;
  vertical-align: inherit;
  box-sizing: inherit;
  background: transparent;
}

ul {
  list-style: none;
}

li {
  list-style: none;
}

img {
    display: block;
    margin: auto;
}

input[type="password"],
input[type="email"],
input[type="text"],
input[type="submit"],
textarea,
button {
  -webkit-appearance: none;
  -moz-appearance: none;
}

button,
input[type="submit"] {
  cursor: pointer;
}

body, html {
  overflow-x: hidden;
  overflow-y: hidden;
}

/* Pre-Game Screen */

#pre-game {
   visibility: hidden;
   position: absolute;
   left: 0px;
   top: 0px;
   width:100%;
   height:100%;
   text-align:center;
   z-index: 1000;
}

/* Game Screen */

.window {
  height: 100vh;
  width: 100vw;
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
}

#game-canvas {
  height: 705px;
  width: 1265px;
}

#post-game {
  visibility: hidden;
  position: absolute;
  width: 100vw;
  height: 100vh;
  text-align: center;
  background-color: white;
  z-index: 1;
}
